.publicTransports{
    margin-top: 20px;
    margin-left: 100px;
}

.subway{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
}

.subway img{
    width: 300px;
}

.S-Bahn{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
}

.S-Bahn img{
    width: 300px;
}

.Bus{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
}

.Taxi{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 23px;
}

.Bus img{
    width: 300px;
}

.Taxi img{
    width: 300px;
}

h5{
    padding-top: 15px;
}